/* Fonts*/

@font-face {
    font-family: "Raleway";
    src: url("../css/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* Propriétés pour toute la page */

*{
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

/* Propriétes pour le main */

main{
    margin: 30px;
}

/* Header */

header{
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

header img{
    padding-left:40px;
}

header nav{
    width: 30%;
    display: flex;
}

header nav a{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:solid white;
}

header nav a:hover{

    border-top:solid #0065FC;
    color: #0065FC;
}

/* Section de recherche */

#section-de-recherche form{
    width: fit-content;
    border-radius: 20px;
    display: flex;
    border: solid #F2F2F2;

}

#logo-de-recherche{
    font-size: large;
    padding: 15px;
    background-color: #F2F2F2;
    margin: -3px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#texte-de-recherche{
    padding-left: 20px;
    border: none;

}

#texte-de-recherche:focus{
    outline: none;
}

#bouton-de-recherche{
    border: none;
    background-color: #0065FC;
    color: white;
    margin: -3px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#bouton-de-recherche:hover{
    opacity: 0.7;
}

#bouton-de-recherche-mobile{
    display: none;
}

#bouton-de-recherche-mobile:hover{
    opacity: 0.7;
}

/* Section des filtres */

#section-des-filtres{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

#section-des-filtres h3{
    margin: 20px 20px 20px 0px;

}

#zone-des-filtres{
    display: flex;
    flex-wrap: wrap;
}

.filtres{
    display:flex;
    align-items: center;
    margin: 20px 20px 20px 0px;
    border:solid #F2F2F2;
    border-radius:30px;
}

.filtres:hover{
    background-color: #DEEBFF;
}

.filtres i{
    font-size: large;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    margin:-5px;
    border-radius: 100%;
}

#logo-famille{
    padding-left: 22px;
    padding-right: 22px;
}

.filtres p{
    margin:15px;
    font-weight: bold;
}
/* Paragraphe d'information */

#info{
    display: flex;
    align-items:center;
}

#icone-info{
    color:#0065FC;
    border: solid #F2F2F2;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
}

/* CSS pour les cartes */

.carte{
    height: 90%;
    width:90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carte:hover{
    height: 95%;
    width: 95%;
}

.image-carte{
    margin: 5px;
    height: 66%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
}

.image-carte img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.carte h4{
    margin: 0px 0px 0px 10px;
}
.carte p{
    margin: 0px 0px 0px 10px;
}

.etoile{
    display: flex;
    margin-left: 10px;
}

.etoile-bleu{
    color: #0065FC;
}

.etoile-grise{
    color: #F2F2F2;
}

/* Section des hébergements */

#hebergements{
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

/* Section des hébergements à Marseille */

#hebergements-marseille{
    width:64%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#hebergements-marseille h2{
    margin:30px 0px 15px 30px  
}

#afficher-plus{
    margin:30px;
    font-weight: bold;
}

#zone-carte-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grille-hebergement-marseille{
    width: 32%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* Section des hébergements populaires */

#hebergements-populaires{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;   
}

#titre-section-populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 0px 30px;
}

#titre-section-populaire i{
    font-size: large;
}

#zone-carte-populaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grille-hebergement-populaire{
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.grille-hebergement-populaire .carte{
    flex-direction: row;
}

.grille-hebergement-populaire .image-carte {
    width: 40%;    
    height: auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: inherit;
}

.grille-hebergement-populaire .texte-carte{
    width: 60%;    
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grille-hebergement-populaire .etoile{
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
}

/* section des activités */

#activites{
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#activites h2{
    margin-left: 20px;
}

#zone-carte-activites{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#zone-carte-activites .image-carte{
    height: 80%;
}

.grille-activites-grande{
    height: 500px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grille-activites-petite{
    height: 235px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section du footer */

footer{
    display: flex;
    background-color: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
}

.colonne-footer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20px;
    margin-left: 10px;
}

.colonne-footer a{
    margin-bottom: 10px;
    width: fit-content;
}

.colonne-footer a:hover{
    text-decoration: underline;
}






@media (max-width: 992px){

    .grille-hebergement-marseille{
        flex-basis: 50%;
    }

    #hebergements-marseille{
        width: 60%;
    }

    #hebergements-populaires{
        width: 36%;
    }

    #zone-carte-populaire{
        height: 82%;
        justify-content: flex-start;
    }

    .grille-activites-grande{
        height: 250px;
        width: 33%;
    }

    .grille-activites-petite{
        width: 33%;
    }
    

}

@media (max-width: 768px){

    /* Header pour mobile*/

    header{
        flex-direction: column;
        align-items: center;
    }

    header img{
        padding-left:60px;
    }

    header nav{
        width: 100%;
    }

    header nav a{
        border-bottom: solid #F2F2F2;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    header nav a:hover{
        border-top:solid white;
        border-bottom: solid #0065FC;

    }

    main{
        margin: 0px;
    }

    /* Section de recherche pour mobile */

    #section-de-recherche form{
        margin: auto;
    }

    #bouton-de-recherche{
        display: none;
    }

    #bouton-de-recherche-mobile{
        display: block;
        border: none;
        background-color: #0065FC;
        margin: -3px;
        padding: 15px;
        border-radius: 15px;
    }

    #bouton-de-recherche-mobile i{
        color:white;
        font-size: large;
    }


    #hebergements{
        flex-direction: column-reverse;
    }



    #hebergements-marseille, #hebergements-populaires{
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
 

    .grille-hebergement-marseille{
        flex-basis: 100%;
    }

    #activites{
        height: fit-content;
        display: flex;
        flex-direction: column;
    
    }
    
    #zone-carte-activites{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    #zone-carte-activites{
        width: 100%;
    }
    
    .grille-activites-grande{
        height: 240px;
        width: 100%;
    }
    
    .grille-activites-petite{
        height: 240px;
        width: 100%;
    }
    
    


}


